* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 10vh;
    --footer-height: 4vh;
    --content-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
    --container-height: calc(60% * var(--content-height));
}

body {
    display: flex;
    flex-direction: column;
    height:100%;
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404258;
    color: black;
}

.content {
    height: var(--content-height);
    background-color: #50577A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 64vh;
    width: 60vw;
    background-color: #404258;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.description {
    display: flex;
    font-family: Roboto;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;

}

.summary {
    padding: 24px 0;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.score {
    font-family: 'Press Start 2P';
    font-size: 64px; 
    text-align: center;   
}

.name {
    font-family: Roboto;
    font-size: 24px; 
    text-align: center; 
}

.options {
    display: flex;
    justify-content: space-evenly;
    margin: 48px;
}

.rock,
.paper,
.scissor {
    height: 200px;
    width: 200px;
    border-radius: 16px;
    background-color: #50577A;
}

img {
    width: 200px;
    height: auto;
}


.header {
    height: var(--header-height);
    font-family: Orbitron;
    font-size: 32px;
}

.footer {
    height: var(--footer-height);
}


